body {

    font-family: Arial, sans-serif;

    background-color: #fff8f0;

    margin: 0;

    min-height: 100vh;

    display: flex;

    flex-direction: column;

}
main {

    flex: 1;

}


header {

    background-color: #ff9ce1;
    color: white;
    text-align: center;
    padding: 30px;

}



.botoes {

    display: flex;

    justify-content: center;

    align-items: center;

    gap: 40px;

    margin-top: 40px;

}


.item {

    display: flex;

    flex-direction: column;

    align-items: center;

    gap: 15px;

}


.item img {

    width: 180px;

    height: 180px;

    object-fit: cover;

    border-radius: 10px;

}



.botoes button {

    background-color: #ffaae5;

    color: white;

    border: none;

    padding: 15px 30px;

    border-radius: 25px;

    font-size: 16px;

    cursor: pointer;

    transition: 0.3s;

}



.botoes button:hover {

    background-color: #ff5ec7;

    transform: scale(1.05);

}

footer {

    background-color: #ff94df;

    color: white;

    text-align: center;

    padding: 20px;

    margin-top: auto;

}

.imagem img {
    width:180px;
    height: 180px;
    object-fit: cover;
    border-radius: 10px;
}

#resultadoCardapio {
    text-align: center;
    padding: 20px;
}